# IDE
.idea/
.nova/
.vs/
.vscode/
*.code-workspace
*.iml

# Node Modules
node_modules/

# OS Specific
.DS_Store

# Generated CSS Artifacts
./styles/*.css
./styles/*.map

# Generated LevelDB Artifacts
packs/*/*
!packs/*/*.yml
