<div class="resources grid grid-2col">
    <div class="bio-section">
        <label for="system.goals" class="resource-label">Goals</label>
        {{editor system.goals target="system.goals" engine="prosemirror" button=true editable=editable}}
    </div>
    <div class="bio-section">
        <label for="system.contacts" class="resource-label">Contacts</label>
        {{editor system.contacts target="system.contacts" engine="prosemirror" button=true editable=editable}}
    </div>
    <div class="bio-section">
        <label for="system.languages" class="resource-label">Languages</label>
        {{editor system.languages target="system.languages" engine="prosemirror" button=true editable=editable}}
    </div>
    <div class="bio-section">
        <label for="system.biography" class="resource-label">Description</label>
        {{editor system.biography target="system.biography" engine="prosemirror" button=true editable=editable}}
    </div>
</div>

