<div class="skill-header align-center">
  <label class="resource-label">All drone skills are limited by their operator's Drive skill level <b>({{driveSkill.system.level}})</b></label>
</div>
<hr>
{{> "systems/cities-without-number/templates/actor/parts/actor-skills.hbs"}}