<div class="heading-resource">
    <label class="resource-label" for="system.availableSkillPoints">Available skill points</label>
    <input type="number" name="system.availableSkillPoints" value="{{system.availableSkillPoints}}"
           data-dtype="Number"/>
</div>
<hr>
{{> "systems/cities-without-number/templates/actor/parts/actor-skills.hbs"}}
