<div class="grid grid-3col">
    <div class="flex-group-center">
        <label for="system.goals" class="resource-label">Goals</label>
        <button>Add Goal</button>
    </div>
    <div class="flex-group-center">
        <label for="system.contacts" class="resource-label">Contacts</label>
        <button>Add Contact</button>
    </div>
    <div class="flex-group-center">
        <label for="system.contacts" class="resource-label">Languages</label>
        <button>Add Language</button>
    </div>
</div>
<h4>Biography</h4>
{{editor system.biography target="system.biography" rollData=rollData button=true owner=owner editable=editable}}
