<div class="grid grid-3col">
    <div class="flex-group-center">
        <label for="system.goals" class="resource-label">Goals</label>
        <textarea class="bio-text" name="system.goals">{{system.goals}}</textarea>
    </div>
    <div class="flex-group-center">
        <label for="system.contacts" class="resource-label">Contacts</label>
        <textarea class="bio-text" name="system.contacts">{{system.contacts}}</textarea>
    </div>
    <div class="flex-group-center">
        <label for="system.languages" class="resource-label">Languages</label>
        <textarea class="bio-text" name="system.languages">{{system.languages}}</textarea>
    </div>
</div>
<label for="system.biography" class="resource-label">Biography</label>
{{editor system.biography target="system.biography" rollData=rollData button=true owner=owner editable=editable}}
