.window-app {
  font-family: $font-primary;
}

.rollable, .expandable, .configurable, .list-item-create {
  &:hover,
  &:focus {
    color: #000;
    text-shadow: 0 0 10px red;
    cursor: pointer;
  }
}

.editor {
  height: 100%;
  min-height: auto;
}

.max-height {
  height: 100%;
}