<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
      {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
      use both the "grid" and "grid-Ncol" class where "N" can be any number
      from 1 to 12 and will create that number of columns.  --}}
      <div class="resources grid grid-3col">

        {{!-- "flex-group-center" is also defined in the _grid.scss file
        and it will add a small amount of padding, a border, and will
        center all of its child elements content and text. --}}
        <div class="resource flex-group-center">
          <label for="system.health.value" class="resource-label">Health</label>
          <div class="resource-content flexrow flex-center flex-between">
          <input type="text" name="system.health.value" value="{{system.health.value}}" data-dtype="Number"/>
          <span> / </span>
          <input type="text" name="system.health.max" value="{{system.health.max}}" data-dtype="Number"/>
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="system.systemStrain.value" class="resource-label">System Strain</label>
          <div class="resource-content flexrow flex-center flex-between">
          <input type="text" name="system.systemStrain.value" value="{{system.systemStrain.value}}" data-dtype="Number"/>
          <span> / </span>
          <input type="text" name="system.systemStrain.max" value="{{system.systemStrain.max}}" data-dtype="Number"/>
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="system.xp" class="resource-label">XP</label>
          <div class="resource-content flexrow flex-center flex-between">
          <input type="text" name="system.xp" value="{{system.xp}}" data-dtype="Number"/>
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="system.level" class="resource-label">Level</label>
          <div class="resource-content flexrow flex-center flex-between">
          <input type="text" name="system.level" value="{{system.level}}" data-dtype="Number"/>
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="system.attackBonus" class="resource-label">Attack Bonus</label>
          <div class="resource-content flexrow flex-center flex-between">
          <input type="text" name="system.attackBonus" value="{{system.attackBonus}}" data-dtype="Number"/>
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="system.movementSpeed" class="resource-label">Movement Speed</label>
          <div class="resource-content flexrow flex-center flex-between">
          <input type="text" name="system.movementSpeed" value="{{system.movementSpeed}}" data-dtype="Number"/>
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="system.armorClass.melee" class="resource-label">AC (Melee)</label>
          <div class="resource-content flexrow flex-center flex-between">
          <input type="text" name="system.armorClass.melee" value="{{system.armorClass.melee}}" data-dtype="Number"/>
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="system.armorClass.ranged" class="resource-label">AC (Ranged)</label>
          <div class="resource-content flexrow flex-center flex-between">
          <input type="text" name="system.armorClass.ranged" value="{{system.armorClass.ranged}}" data-dtype="Number"/>
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="system.traumaTarget" class="resource-label">Trauma Target</label>
          <div class="resource-content flexrow flex-center flex-between">
          <input type="text" name="system.traumaTarget" value="{{system.traumaTarget}}" data-dtype="Number"/>
          </div>
        </div>

      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="skills">Skills</a>
    <a class="item" data-tab="inventory">Inventory</a>
    <a class="item" data-tab="edges">Edges</a>
    <a class="item" data-tab="foci">Foci</a>
    <a class="item" data-tab="description">Description</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Owned Features Tab --}}
    <div class="tab features" data-group="primary" data-tab="skills">
      <section class="grid grid-3col">
        <aside class="sidebar">

          {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
          use both the "grid" and "grid-Ncol" class where "N" can be any number
          from 1 to 12 and will create that number of columns.  --}}
          <div class="abilities flexcol">
            {{#each system.abilities as |ability key|}}
            <div class="ability flexrow flex-group-center">
              <label for="system.abilities.{{key}}.value" class="resource-label flexlarge align-left" data-label="{{ability.label}}">{{ability.label}}</label>
              <input type="text" name="system.abilities.{{key}}.value" value="{{ability.value}}" data-dtype="Number"/>
              <span class="ability-mod" data-label="{{ability.label}}">{{numberFormat ability.mod decimals=0 sign=true}}</span>
            </div>
            {{/each}}
          </div>
        </aside>

        {{!-- For the main skills list, span the right two columns --}}
        <section class="main grid-span-2">
          {{!-- This is a Handlebars partial. They're stored in the `/parts` folder next to this sheet, and defined in module/helpers/templates.mjs --}}
          {{> "systems/cities-without-number/templates/actor/parts/actor-skills.html"}}
        </section>

      </section>
    </div>

    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="description">
      {{!-- If you want TinyMCE editors to output inline rolls when rendered, you need to pass the actor's roll data to the rollData property. --}}
      {{editor system.biography target="system.biography" rollData=rollData button=true owner=owner editable=editable}}
    </div>

    {{!-- Inventory Tab --}}
    <div class="tab items" data-group="primary" data-tab="inventory">
       {{> "systems/cities-without-number/templates/actor/parts/actor-inventory.html"}}
    </div>

    {{!-- Edges Tab --}}
    <div class="tab spells" data-group="primary" data-tab="edges">
      {{> "systems/cities-without-number/templates/actor/parts/actor-edges.html"}}
    </div>

    {{!-- Foci Tab --}}
    <div class="tab effects flexcol" data-group="primary" data-tab="foci">
      {{> "systems/cities-without-number/templates/actor/parts/actor-foci.html"}}
    </div>

  </section>
</form>

