@use "sass:meta";

// Import fonts.
@font-face {
  font-family: 'JetBrainsMono-Regular';
  src: url('./fonts/JetBrainsMono-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'JetBrainsMono-Thin';
  src: url('./fonts/JetBrainsMono-Thin.ttf') format('truetype');
}

// Import utilities.
@include meta.load-css('utils/typography');
@include meta.load-css('utils/colors');
@include meta.load-css('utils/mixins');
@include meta.load-css('utils/variables');

/* Global styles */
@include meta.load-css('global/window');
@include meta.load-css('global/grid');
@include meta.load-css('global/flex');
@include meta.load-css('global/dialog');

/* Styles limited to cwn sheets */
.cwn {
  @include meta.load-css('components/forms');
  @include meta.load-css('components/resource');
  @include meta.load-css('components/items');
  @include meta.load-css('components/effects');
}